export(getDB)
export(runQuery)
export(unwind)
export(conv.date)
export(conv.null)
export(conv.rid)


importFrom(RCurl, curlEscape)
importFrom(RCurl, getURL)
importFrom(jsonlite, fromJSON)
importFrom(tidyr, unnest_)
importFrom(lubridate, parse_date_time)
